 Principios de Estatística com Python
 Estatística Descritiva
 
 Prof. Arnott Ramos Caiado
 
 contagem
 media
 mediana
 desvio padrão
 minimo
 maximo
 
 histograma
 grafico de barras
 grafico de linhas

In [1]:
import pandas as pd

In [3]:
!pwd

/home/usuario/Google Drive/DATASCIENCE/facsenac/biganddata/aula-estatistica-decritiva

In [13]:
arquivo = "../../dados/PNAD_COVID_072020.csv"
df = pd.read_csv( arquivo, sep="," )

In [14]:
df.shape

(384166, 145)

In [12]:
df.head(10)

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
1,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
2,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
3,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
4,2020,11,11.0,NaN,2,1,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
5,2020,11,11.0,NaN,4,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
6,2020,11,11.0,NaN,4,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
7,2020,11,11.0,NaN,4,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
8,2020,11,11.0,NaN,4,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
9,2020,11,11.0,NaN,4,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0