 Principios de Estatística com Python
 Estatística Descritiva
 
 Dados do IBGE - PNAD Covid 2020
 https://www.ibge.gov.br/estatisticas/sociais/trabalho/27946-divulgacao-semanal-pnadcovid1.html?=&t=downloads
 
 Prof. Arnott Ramos Caiado
 
 contagem
 media
 mediana
 desvio padrão
 minimo
 maximo
 
 histograma
 grafico de barras
 grafico de linhas

In [1]:
import pandas as pd

In [2]:
!pwd

/home/usuario/Google Drive/DATASCIENCE/facsenac/biganddata/aula-estatistica-descritiva

In [3]:
arq_mes7 = "../../dados/PNAD_COVID_072020.csv"
arq_mes6 = "../../dados/PNAD_COVID_062020.csv"
df = pd.read_csv( arq_mes7, sep="," )
df1 = pd.read_csv( arq_mes6, sep="," )

In [4]:
df.shape

(384166, 145)

In [5]:
df1.shape

(381270, 114)

In [6]:
df.head(10)

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
1,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
2,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
3,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
4,2020,11,11.0,NaN,2,1,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
5,2020,11,11.0,NaN,4,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
6,2020,11,11.0,NaN,4,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
7,2020,11,11.0,NaN,4,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
8,2020,11,11.0,NaN,4,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
9,2020,11,11.0,NaN,4,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0

In [7]:
# mostrar algumas medidas descritivas dos dados numéricos de um dataframe
# contagem
# média
# desvio padrão
# minimo
# máximo
df.describe()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
count,384166.0,384166.000000,89836.000000,121607.000000,384166.000000,384166.000000,384166.0,384166.0,3.841660e+05,3.841660e+05,...,384166.000000,55000.000000,55000.000000,384166.000000,384166.000000,384166.000000,384166.000000,384166.000000,384166.000000,365061.000000
mean,2020.0,31.660641,30.903981,31.377939,7.479413,2.512253,7.0,3.0,3.203994e+06,3.167084e+08,...,1.827140,705.523982,2.530200,1.005243,1.047021,1.007937,1.599965,1.021636,1.075040,1.637170
std,0.0,10.772920,12.881544,9.437451,4.028443,1.115434,0.0,0.0,1.077817e+06,1.077462e+08,...,1.381118,573.600880,1.172854,0.077836,0.220880,0.093198,0.503283,0.156792,0.521426,0.889018
min,2020.0,11.000000,11.000000,13.000000,1.000000,1.000000,7.0,3.0,1.110011e+06,1.100000e+08,...,1.000000,20.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2020.0,24.000000,22.000000,25.000000,4.000000,2.000000,7.0,3.0,2.451020e+06,2.400227e+08,...,1.000000,400.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,2020.0,31.000000,31.000000,32.000000,7.000000,3.000000,7.0,3.0,3.155011e+06,3.103077e+08,...,1.000000,550.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000
75%,2020.0,41.000000,41.000000,35.000000,11.000000,4.000000,7.0,3.0,4.153012e+06,4.100865e+08,...,3.000000,800.000000,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000
max,2020.0,53.000000,53.000000,52.000000,14.000000,4.000000,7.0,3.0,5.310220e+06,5.300511e+08,...,7.000000,11000.000000,7.000000,3.000000,3.000000,3.000000,3.000000,3.000000,9.000000,11.000000